/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    background-color: #fff7e8; 
    font-family: Helvetica, sans-serif;
    color: #550686;
}


footer {
    min-height:42px;
    width: 100%;
    background-color: #550686;
    display: grid;
    place-items: center;
    color:#ffffff;
}

main {
    display: grid;
    place-items: center;
    padding: 21px;
}

header {
    min-height:42px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-style: solid;
    border-width: 1px;
    border-color: #feb822;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
  }
}

.nav {
    padding: 4px 21px;
}

.events {
    padding: 21px;
    border-style: solid;
    border-width: 2px;
    border-color: #feb822;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

th, td {
    padding: 4px 12px 4px 12px; 
    text-align: left;
}

h1 {
    text-align: center;
    padding: 4px 12px 0px 12px; 
}

a {
    color: #550686;
}

a:hover {
    color: #feb822;
}

.spacer {
    margin: 21px;
}

.form {
    display:grid;
    place-items: center;
}

.date {
    display:flex;
    justify-content:space-around;
    margin: 6px;
}

.bottom_links {
    display:flex;
    justify-content:center;
    margin: 6px;
}

.fields {
    margin: 4px;
}

input {
    padding: 4px;
    margin: 4px;
    width: 180px;
}
