/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
    font-size: 100%;
    font-family: sans-serif;
    font-weight: 100;
}

a {
    text-decoration: none;
    color: #706c58;
}

a:hover {
    color: black;
}

a svg:hover {
    color: #3cbeff; 
}

.nav {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #eeeeea;
    border-radius: 4px;
}

.nav_links {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding: 4px;
}

@media only screen and (min-width: 768px){
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .nav_links {
        flex-direction: row;
    }
}

.events {
    margin-bottom: 2em;
}

.icons, .checkicon {
    height: 2em;
    width: 2em;
    color: #706c58;
    padding: 4px;
}

.checkicon{
    color: #3cbeff;
}

h1 {
    font-size: 2em;
    text-align: left;
    background-color: gold;
    color: #423f34;
    padding: 1em;
    border-radius: 4px;
}

h2 {
    font-size: 1.7em;
    text-align: right;
    background-color: #eeeeea;
    color: #423f34;
    border-radius: 4px;
    padding: 0.5em;
    font-style: italic;
}

.eventbox_container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 1em;
}

@media only screen and (min-width: 768px){
    .eventbox_container {
        grid-template-columns: auto auto auto;
    }
}

.eventbox {
    background-image: linear-gradient(to right, white, #eeeeea);
    border: 1px solid #eeeeea;
    border-radius: 4px;
    padding: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.eventbox h3 {
    font-size: 1.5em;
    display: inline;
}

.eventbox h4 {
    font-size: 0.9em;
    font-style: italic;
}

.events ul, .show ul {
    list-style: none;
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.events li {
    font-style: italic;
}

.show {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

@media only screen and (min-width: 768px){
    .show {
        flex-direction: row;
        justify-content: space-around;
    }

    h1, h2 {
        text-align: center;
    }

    .show div {
        width: 18%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 1em;
        border-radius: 4px;
    }

    .show .attends {
        width: 12%;
    }
}

.eventbox h3 {
    font-size: 1.5em;
    display: inline;
}

p {
    text-align: center;
}

.description {
    text-align: justify;
}

.form_container {
    display: flex;
    justify-content: center;
}

input,
select,
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-image: linear-gradient(to right, white, #eeeeea);
    color: black;
    text-transform: uppercase;
}

input[type="submit"]:hover {
    background-image: linear-gradient(to left, white, #eeeeea);
    text-decoration: underline;
}

label {
    font-style: italic;
}

footer {
    text-align: right;
    background-color: gold;
    letter-spacing: 2px;
    padding: 1.5em 0;
    font-size: 0.9em;
    border-radius: 4px;
}

@media only screen and (min-width: 768px){
    body {
        min-height: 100%;
        margin-bottom: 8em;
    }

    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 3em 0;
    }
}
